<html>
<head>
  <style>
    input {
      width: 100px;
    }
    </style>
</head>
<body>
<%= link_to "Back", "/" %>
<h2>Editing <b><%= @name %></b></h2>
<form action="/level/save/<%= @name %>" method="POST">

<p>Name: <%= text_field_tag :mod_name, @name %></p>
<p>Time between Actions: <%= text_field_tag :interval, @info['action_interval'] %></p>
<p>Player Start Position:<br />X: <%= text_field_tag :pos_x, @info['start_pos'] ? @info['start_pos']['x'] : 0 %> Y: <%= text_field_tag :pos_y, @info['start_pos'] ? @info['start_pos']['y'] : 0 %></p>
<p>Stage Width (in pixels): <%= text_field_tag :width, @info['width'] %>

<h3>Actions</h3>
<div id="action_holder">
<% if @info['actions'].is_a? Array %>
  <% @info['actions'].each do |act| %>
    <p>Action: <%= select_tag "actions[][action]", options_for_select(@action_list, act[0]) %> Delay: <%= text_field_tag "actions[][delay]", act[1] %> -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %></p>
  <% end %>
<% end %>
</div>
<p><%= link_to_function "New Action", "duplicateFromAToB('new_action','action_holder');" %></p>

<% @info['entities'] ||= {} %>
<h3>Entities</h3>
<p>Goal:<br />
  X: <%= text_field_tag "goal[x]", @info['entities']['goal'] ? @info['entities']['goal']['x'] : 0 %>
  Y: <%= text_field_tag "goal[y]", @info['entities']['goal'] ? @info['entities']['goal']['y'] : 0 %>
  H: <%= text_field_tag "goal[h]", @info['entities']['goal'] ? @info['entities']['goal']['h'] : 0 %>
  W: <%= text_field_tag "goal[w]", @info['entities']['goal'] ? @info['entities']['goal']['w'] : 0 %>
  ID: <%= text_field_tag "goal[id]", @info['entities']['goal'] ? @info['entities']['goal']['id'] : '' %>
  </p>

<h4>Platforms</h4>
<div id="platform_holder">
  <% if @info['entities']['platforms'] %>
    <% @info['entities']['platforms'].each do |e| %>
      <p>X: <%= text_field_tag "platforms[][x]", e['x']  %>
      Y: <%= text_field_tag "platforms[][y]", e['y']  %>
      H: <%= text_field_tag "platforms[][h]", e['h']  %>
      W: <%= text_field_tag "platforms[][w]", e['w']  %>
      HS: <%= text_field_tag "platforms[][hs]", e['hs'] %>
      VS: <%= text_field_tag "platforms[][vs]", e['vs'] %>
      HT: <%= text_field_tag "platforms[][ht]", e['ht'] %>
      VT: <%= text_field_tag "platforms[][vt]", e['vt'] %> 
      VT: <%= text_field_tag "platforms[][id]", e['id'] %> 
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
    <% end %>
  <% end %>
</div>
<p><%= link_to_function "New Platform", "duplicateFromAToB('new_platform','platform_holder');" %></p>

<h4>Damagers</h4>
<div id="damager_holder">
  <% if @info['entities']['damagers'] %>
    <% @info['entities']['damagers'].each do |e| %>
      <p>X: <%= text_field_tag "damagers[][x]", e['x']  %>
      Y: <%= text_field_tag "damagers[][y]", e['y']  %>
      H: <%= text_field_tag "damagers[][h]", e['h']  %>
      W: <%= text_field_tag "damagers[][w]", e['w']  %>
      ROT: <%= text_field_tag "damagers[][r]", e['r']  %>
      DMG: <%= text_field_tag "damagers[][d]", e['d']  %>
      IMG: <%= text_field_tag "damagers[][i]", e['i']  %>
      HS: <%= text_field_tag "damagers[][hs]", e['hs'] %>
      VS: <%= text_field_tag "damagers[][vs]", e['vs'] %>
      HT: <%= text_field_tag "damagers[][ht]", e['ht'] %>
      VT: <%= text_field_tag "damagers[][vt]", e['vt'] %>
      ID: <%= text_field_tag "damagers[][id]", e['id'] %>
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
    <% end %>
  <% end %>
</div>
<p><%= link_to_function "New Damager", "duplicateFromAToB('new_damager','damager_holder');" %></p>

<h4>Buttons</h4>
<p>Possible Button ACTions:</p>
<ul>
<li>move_up - val1=speed, val2=max_y</li>
<li>move_down - val1=speed, val2=max_y</li>
</ul>
<div id="button_holder">
  <% if @info['entities']['buttons'] %>
    <% @info['entities']['buttons'].each do |e| %>
      <p>
        X: <%= text_field_tag "buttons[][x]", e['x']  %>
        Y: <%= text_field_tag "buttons[][y]", e['y']  %>
        H: <%= text_field_tag "buttons[][h]", e['h']  %>
        W: <%= text_field_tag "buttons[][w]", e['w']  %>
        ROT: <%= text_field_tag "buttons[][r]", e['r']  %>
        IMG: <%= text_field_tag "buttons[][i]", e['i']  %>
        HS: <%= text_field_tag "buttons[][hs]", e['hs'] %>
        VS: <%= text_field_tag "buttons[][vs]", e['vs'] %>
        HT: <%= text_field_tag "buttons[][ht]", e['ht'] %>
        VT: <%= text_field_tag "buttons[][vt]", e['vt'] %>
        ID: <%= text_field_tag "buttons[][id]", e['id'] %>
        ACT: <%= text_field_tag "buttons[][action]", e['action'] %>
        ACTOR: <%= text_field_tag "buttons[][actor]", e['actor'] %>
        VAL1: <%= text_field_tag "buttons[][val1]", e['val1'] %>
        VAL2: <%= text_field_tag "buttons[][val2]", e['val2'] %>
        VAL3: <%= text_field_tag "buttons[][val3]", e['val3'] %>
        VAL4: <%= text_field_tag "buttons[][val4]", e['val4'] %>
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
    <% end %>
  <% end %>
</div>
<p><%= link_to_function "New Button", "duplicateFromAToB('new_button','button_holder');" %></p>

<h4>Projectiles</h4>
<div id="spawner_holder">
  <% if @info['entities']['spawners'] %>
    <% @info['entities']['spawners'].each do |e| %>
      <p>
        X: <%= text_field_tag "spawners[][x]", e['x']  %>
        Y: <%= text_field_tag "spawners[][y]", e['y']  %>
        H: <%= text_field_tag "spawners[][h]", e['h']  %>
        W: <%= text_field_tag "spawners[][w]", e['w']  %>
        ROT: <%= text_field_tag "spawners[][r]", e['r']  %>
        IMG: <%= text_field_tag "spawners[][i]", e['i']  %>
        HS: <%= text_field_tag "spawners[][hs]", e['hs'] %>
        VS: <%= text_field_tag "spawners[][vs]", e['vs'] %>
        HT: <%= text_field_tag "spawners[][ht]", e['ht'] %>
        VT: <%= text_field_tag "spawners[][vt]", e['vt'] %>
        ID: <%= text_field_tag "spawners[][id]", e['id'] %>
        PHS: <%= text_field_tag "spawners[][phs]", e['phs'] %>
        PVS: <%= text_field_tag "spawners[][pvs]", e['pvs'] %>
        PL: <%= text_field_tag "spawners[][pl]", e['pl'] %>
        TTF: <%= text_field_tag "spawners[][ttf]", e['ttf'] %>
        PI: <%= text_field_tag "spawners[][pi]", e['pi'] %>
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
    <% end %>
  <% end %>
</div>
<p><%= link_to_function "New Projectile", "duplicateFromAToB('new_spawner','spawner_holder');" %></p>

<h4>Props</h4>
<div id="prop_holder">
  <% if @info['entities']['props'] %>
    <% @info['entities']['props'].each do |e| %>
      <p>X: <%= text_field_tag "props[][x]", e['x']  %>
      Y: <%= text_field_tag "props[][y]", e['y']  %>
      H: <%= text_field_tag "props[][h]", e['h']  %>
      W: <%= text_field_tag "props[][w]", e['w']  %>
      ROT: <%= text_field_tag "props[][r]", e['r']  %>
      IMG: <%= text_field_tag "props[][i]", e['i']  %>
      HS: <%= text_field_tag "props[][hs]", e['hs'] %>
      VS: <%= text_field_tag "props[][vs]", e['vs'] %>
      HT: <%= text_field_tag "props[][ht]", e['ht'] %>
      VT: <%= text_field_tag "props[][vt]", e['vt'] %>
      ID: <%= text_field_tag "props[][id]", e['id'] %>
      Interactable? <%= check_box_tag "props[]['present']", 1, e['present'] %>
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
    <% end %>
  <% end %>
</div>
<p><%= link_to_function "New Prop", "duplicateFromAToB('new_prop','prop_holder');" %></p>
<p><%= submit_tag 'Save' %></p>
</form>

<div style="display:none;" id="new_action">
  <p>Action: <%= select_tag "actions[][action]", options_for_select(@action_list) %> Delay: <%= text_field_tag "actions[][delay]", 0 %> -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %></p>
</div>
<div style="display: none;" id="new_platform">
      <p>X: <%= text_field_tag "platforms[][x]", 0  %>
      Y: <%= text_field_tag "platforms[][y]", 0  %>
      H: <%= text_field_tag "platforms[][h]", 0  %>
      W: <%= text_field_tag "platforms[][w]", 0  %>
      HS: <%= text_field_tag "platforms[][hs]", 0 %>
      VS: <%= text_field_tag "platforms[][vs]", 0 %>
      HT: <%= text_field_tag "platforms[][ht]", 0 %>
      VT: <%= text_field_tag "platforms[][vt]", 0 %>
      ID: <%= text_field_tag "platforms[][id]", '' %>
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
</div>
<div style="display: none;" id="new_damager">
      <p>X: <%= text_field_tag "damagers[][x]", 0  %>
      Y: <%= text_field_tag "damagers[][y]", 0  %>
      H: <%= text_field_tag "damagers[][h]", 0  %>
      W: <%= text_field_tag "damagers[][w]", 0  %>
      ROT: <%= text_field_tag "damagers[][r]", 0  %>
      DMG: <%= text_field_tag "damagers[][d]", 0  %>
      IMG: <%= text_field_tag "damagers[][i]", ''  %>
      HS: <%= text_field_tag "damagers[][hs]", 0 %>
      VS: <%= text_field_tag "damagers[][vs]", 0 %>
      HT: <%= text_field_tag "damagers[][ht]", 0 %>
      VT: <%= text_field_tag "damagers[][vt]", 0 %>
      ID: <%= text_field_tag "damagers[][id]", '' %>
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
</div>
<div style="display: none;" id="new_button">
      <p>
        X: <%= text_field_tag "buttons[][x]", 0 %>
        Y: <%= text_field_tag "buttons[][y]", 0  %>
        H: <%= text_field_tag "buttons[][h]", 0  %>
        W: <%= text_field_tag "buttons[][w]", 0  %>
        ROT: <%= text_field_tag "buttons[][r]", ''  %>
        IMG: <%= text_field_tag "buttons[][i]", 0  %>
        HS: <%= text_field_tag "buttons[][hs]", 0 %>
        VS: <%= text_field_tag "buttons[][vs]", 0 %>
        HT: <%= text_field_tag "buttons[][ht]", 0 %>
        VT: <%= text_field_tag "buttons[][vt]", 0 %>
        ID: <%= text_field_tag "buttons[][id]", '' %>
        ACT: <%= text_field_tag "buttons[][action]", '' %>
        ACTOR: <%= text_field_tag "buttons[][actor]", '' %>
        VAL1: <%= text_field_tag "buttons[][val1]", 0 %>
        VAL2: <%= text_field_tag "buttons[][val2]", 0 %>
        VAL3: <%= text_field_tag "buttons[][val3]", 0 %>
        VAL4: <%= text_field_tag "buttons[][val4]", 0 %>
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
</div>
<div style="display: none;" id="new_spawner">
      <p>
        X: <%= text_field_tag "spawners[][x]", 0  %>
        Y: <%= text_field_tag "spawners[][y]", 0  %>
        H: <%= text_field_tag "spawners[][h]", 0  %>
        W: <%= text_field_tag "spawners[][w]", 0  %>
        ROT: <%= text_field_tag "spawners[][r]", 0  %>
        IMG: <%= text_field_tag "spawners[][i]", ''  %>
        HS: <%= text_field_tag "spawners[][hs]", 0 %>
        VS: <%= text_field_tag "spawners[][vs]", 0 %>
        HT: <%= text_field_tag "spawners[][ht]", 0 %>
        VT: <%= text_field_tag "spawners[][vt]", 0 %>
        ID: <%= text_field_tag "spawners[][id]", 0 %>
        PHS: <%= text_field_tag "spawners[][phs]", 0 %>
        PVS: <%= text_field_tag "spawners[][pvs]", 0 %>
        PL: <%= text_field_tag "spawners[][pl]", 0 %>
        TTF: <%= text_field_tag "spawners[][ttf]", 1 %>
        PI: <%= text_field_tag "spawners[][pi]", '' %>
      -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %>
      </p>
</div>

<div style="display: none;" id="new_prop">
      <p>X: <%= text_field_tag "props[][x]", 0  %>
      Y: <%= text_field_tag "props[][y]", 0  %>
      H: <%= text_field_tag "props[][h]", 0  %>
      W: <%= text_field_tag "props[][w]", 0  %>
      ROT: <%= text_field_tag "props[][r]", 0  %>
      IMG: <%= text_field_tag "props[][i]", ''  %>
      HS: <%= text_field_tag "props[][hs]", 0 %>
      VS: <%= text_field_tag "props[][vs]", 0 %>
      HT: <%= text_field_tag "props[][ht]", 0 %>
      VT: <%= text_field_tag "props[][vt]", 0 %>
      ID: <%= text_field_tag "props[][id]", '' %>
      Interactable? <%= check_box_tag "props[]['present']", 1, false %> -- <%= link_to_function "Destroy", "this.parentNode.parentNode.removeChild(this.parentNode);" %></p>
</div>

<script type="text/javascript">
  function duplicateFromAToB(a,b) {
    var children = document.getElementById(a).childNodes;
    var dest = document.getElementById(b);
    for(i=0;i < children.length;i++) {
      dest.appendChild(children[i].cloneNode(true));
    }
  }
</script>
</body>

